{% extends "qa_engineer/base.html" %}
{% load static %}
{% block title %} Востребованность {% endblock %}
{% block section1 %}
    <section class="page-intro intro-demand">
        <div class="container">
            <div class="page-intro__row">
                <h1>Востребованность</h1>
            </div>
        </div>
        <div class="page-intro__bg">
            <div class="container">
                <div class="page-intro__img">
                    <picture>
                        <source srcset="{% static 'qa_engineer/img/demand/intro.webp' %}" type="image/webp">
                        <img src="{% static 'qa_engineer/img/demand/intro.png' %}" alt="intro"></picture>
                </div>
            </div>
            <div class="page-intro__shadow"></div>
        </div>
    </section>
{% endblock %}
{% block content %}
    <div class="page-content content-demand">
        <h2 class="page-content__title content-demand__title">Динамика уровня зарплат по годам</h2>
        <div class="content-demand__img">
            <picture>
                <source srcset="{% static 'qa_engineer/img/demand/chart-one.webp' %}" type="image/webp">
                <img src="{% static 'qa_engineer/img/demand/chart-one.png' %}" alt="chart-one">
            </picture>
        </div>
        <h2 class="page-content__title content-demand__title">Динамика количества вакансий по годам</h2>
        <div class="content-demand__img" style="width: 697px;">
            <picture>
                <source srcset="{% static 'qa_engineer/img/demand/chart-two.webp' %}" type="image/webp">
                <img src="{% static 'qa_engineer/img/demand/chart-two.png' %}" alt="chart-two">
            </picture>
        </div>
        <h2 class="page-content__title content-demand__title">Динамика уровня зарплат по годам для
            выбранной профессии</h2>
        <div class="content-demand__img">
            <picture>
                <source srcset="{% static 'qa_engineer/img/demand/chart-three.webp' %}"
                        type="image/webp">
                <img src="{% static 'qa_engineer/img/demand/chart-three.png' %}" alt="chart-three">
            </picture>
        </div>
        <h2 class="page-content__title content-demand__title">Динамика количества вакансий по годам для
            выбранной профессии</h2>
        <div class="content-demand__img">
            <picture>
                <source srcset="{% static 'qa_engineer/img/demand/chart-four.webp' %}"
                        type="image/webp">
                <img src="{% static 'qa_engineer/img/demand/chart-four.png' %}" alt="chart-four">
            </picture>
        </div>
    </div>
{% endblock %}