{% extends "qa_engineer/base.html" %}
{% load static %}
{% block title %} Последние вакансии {% endblock %}
{% block section1 %}
    <section class="page-intro">
        <div class="container">
            <div class="page-intro__row intro-recent-vacancies">
                <h1>Последние вакансии</h1>
            </div>
        </div>
        <div class="page-intro__bg">
            <div class="container">
                <div class="page-intro__img intro-recent-vacancies__img">
                    <picture><source srcset="{% static 'qa_engineer/img/recent-vacancies/intro.webp' %}" type="{% static 'qa_engineer/image/webp' %}"><img src="{% static 'qa_engineer/img/recent-vacancies/intro.png' %}" alt="intro"></picture>
                </div>
            </div>
            <div class="page-intro__shadow"></div>
        </div>
    </section>
{% endblock %}
{% block content %}
    <div class="page-content content-vacancy">
        <h2 class="page-content__title content-vacancy__title">Последние вакансии</h2>
        <div class="content-vacancy__row">
                {% for vacancy in vacancies %}
                    <div class="content-vacancy__item">
                          <h3 id="vacancyName">{{ vacancy.name }}</h3>
                        <p id="vacancyInfo">
                          {{ vacancy.description|safe|truncatewords:"20"|linebreaks }}
                          <a href="{{ vacancy.link }}" target="_blank">Подробнее</a>
                        </p>
                          <p id="vacancySkills">
                            Навыки:
                              {{ vacancy.key_skills }}
                          </p>
                          <p id="vacancyCompany"> {{ vacancy.employer_name }}</p>
                          <p id="vacancySalary">{% if vacancy.salary != "" %} Оклад: {{ vacancy.salary }} {% endif%}</p>
                          <p id="vacancyRegion"> {{ vacancy.area }} </p>
                          <p id="vacancyDate"> {{vacancy.date }}</p>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
